@charset "utf-8";
/* 你自己的样式 */


.pagination{
    padding-top:30px;
    width: 300px;
    margin:auto;
    text-align: center;
}

.pagination li{
    width:30px;
    float:left;
}

.pagination .disabled{
    display: none;
}

.pagination .active{
    color:red;
}

